body {
  background-color: #FFFFFF;
}

%checker {
  background-image: linear-gradient(45deg, rgb(68, 131, 233) 25%, transparent 25%), linear-gradient(-45deg, rgb(36, 88, 233) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgb(68, 131, 233) 75%), linear-gradient(-45deg, transparent 75%, rgb(36, 88, 233) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

%text {
  font-size: 100px;
  color: #001f3f;
  font-weight: bold;
}

button {
    background-color:#001f3f;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:12px 12px;
    text-decoration:none;
  text-shadow:0px 1px 0px #001f3f;
  width: 200px;
  height: 40px;
  margin: 1px;
}

#img {
  border: 1px solid #ffffff;
  border-radius: 40px;
  padding: 5px;
  width: 350px;
  border-radius: 50%;
}


#app {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  max-width: 900px;
  box-shadow: 5px 5px 5px 5px;
  background-color: #DDDDDD;
  align-items: center;

  #pet {
    position: absolute;
    border-radius: 25px;
  }  

  #eat {
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: column;
    background-color:#FFDC00;
    @extend %text;
  }

  #play {
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
  //   @extend %checker;
    @extend %text;
  }
  
  #fight {
    display: flex;
    width: 50%;
    height: 300px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  //   @extend %checker;
    @extend %text;
  }

  #sleep {
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color:#FFDC00;
    @extend %text;
  }
}

#tam {
    text-align: center;
    font-style: oblique;
    font-size: 80px;
}